<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container" style="background-color:black">
  <div class="row container-fluid">
    <div class="col-12 border p-3 mb-1 mt-2"></div>
    
    <div class="col-3 border p-3 mb-1"></div>
    <div class="col-3 border p-3 mb-1">
    <div class="alert alert-primary" role="alert">sample text</div>
    </div>
    <div class="col-3 border p-3 mb-1">

    </div>
    <div class="col-3 border p-3 mb-1"></div>

    <div class="col-12 p-3 mb-1"></div>
    <button type="button" class="btn btn-light btn-block mb-3" >light</button>

  </div>
</div>